/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
   -fx-background-color: #F5F5F5;
}
.label{
    -fx-text-fill:#146EB4;
    -fx-font-size:15px;
}
.btn{
    -fx-background-color: #0077C1;
    -fx-cursor: hand;
    -fx-border-radius: 5px;
}
.btn:hover{
    -fx-background-color:#1E90FF;
    -fx-border-color: #F5F5F5;
    -fx-border-width: 2px;
}
.link{
    -fx-text-fill: #57FA68;
}
/*.pane{
    -fx-border-color: #0077C1;
    -fx-border-radius: 15px;
}
.pane:hover{
    -fx-border-color: #1E90FF;
    -fx-border-width: 2px;
}*/
.textfile{
    -fx-border-color: #0077C1;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}
.textfile:hover{
    -fx-border-color: #1E90FF;
    -fx-border-width: 2px;
}
